.toy1BG {
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: px(104);
}
.toy2BG {
  display: inline-block;
  background-image: url("../img/2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: px(202);
}

.ml {
  margin-left: px(14);
}
