/*
* @LastEditors: Mark
* @Description: In User Settings Edit
* @Author: Mark
* @Date: 2019-05-05 14:59:32
* @LastEditTime: 2019-06-21 17:16:25
 */
@import "@/assets/style/global.scss";

.wrapper {
  width: 100%;
  display: block;
}
.item {
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  $w: px(80);
  width: $w;
  height: $w;
  $m: px(5);
  margin-right: $m;
  margin-bottom: $m;
  background-color: #f5f5f5;
  color: #666666;
  .removeBtn {
    position: absolute;
    right: px(6);
    top: px(6);
    color: #fff;
    width: px(15);
    height: px(15);
    line-height: px(12);
    text-align: center;
    border-radius: px(100);
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
  .title {
    font-size: px(14);
    color: #666666;
    margin: px(20) px(10);
    @include fs_overflow(3);
    word-break: break-all;
  }
  .cover {
    width: 100%;
    height: 100%;
    display: block;
  }
  .addBtn {
    width: $w;
    height: $w;
    line-height: $w;
    text-align: center;
    color: #bbb;
    font-size: px(36);
    position: relative;
    overflow: hidden;
    .inputFile {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      padding: px(40);
      cursor: pointer;
      opacity: 0;
    }
  }
}
